body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-container {
  background-color: 'pink';
  display: grid;
  grid-gap: 10px;
  grid-template: auto/ 1fr 1fr 1fr 1fr;

}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  font-size: 12px;
  border-radius: 10px;
  text-transform: uppercase;
  background: linear-gradient(to top, rgb(255, 253, 131), rgb(255, 230, 0));
  box-shadow: 3px 3px #ffd000;
}